
:root {
	--dtcc-button_background: transparent;
	--dtcc-button_border: none;
	--dtcc-button_border-radius: 3px;
	--dtcc-button_opacity: 0.4;
	--dtcc-button_padding: 3px;

	--dtcc-button_hover-border: none;
	--dtcc-button_hover-background: rgba(0, 0, 0, 0.1);
	--dtcc-button_hover-opacity: 0.9;

	--dtcc-button-icon_color: black;
	--dtcc-button-icon_size: 16px;

	--dtcc-dropdown_background: white;
	--dtcc-dropdown_border: 1px solid rgba(0, 0, 0, 0.2);
	--dtcc-dropdown_border-radius: 5px;
	--dtcc-dropdown_box-shadow: 3px 4px 10px 1px rgba(0, 0, 0, 0.3);
	--dtcc-dropdown_margin: 3px 0 0 0;
	--dtcc-dropdown_padding: 0.75em 0;
	--dtcc-dropdown_width: 200px;
	--dtcc-dropdown_z-index: 2002;

	--dtcc-dropdown-button_background: transparent;
	--dtcc-dropdown-button_border: none;
	--dtcc-dropdown-button_color: black;
	--dtcc-dropdown-button_padding: 0.5em 1em;
	--dtcc-dropdown-button_hover-background: rgba(153, 153, 153, 0.1);

	--dtcc-spacer_border: 1px solid rgba(0, 0, 0, 0.2);
	--dtcc-spacer_margin: 0.5em;

	--dtcc-title_background: rgba(255, 255, 255, 0.1);
	--dtcc-title_border-left: none;
	--dtcc-title_border-right: none;
	--dtcc-title_border-top: none;
	--dtcc-title_border-bottom: ;
	--dtcc-title_margin: 0;
	--dtcc-title_padding: 0.5em 0;
	--dtcc-title_text-align: center;
}

:root.dark {
	--dtcc-button_hover-background: rgba(255, 255, 255, 0.1);

	--dtcc-button-icon_color: white;

	--dtcc-spacer_border: 1px solid rgba(255, 255, 255, 0.15);

	--dtcc-dropdown_background: rgb(33, 37, 41);
	--dtcc-dropdown_border: 1px solid rgba(255, 255, 255, 0.15);
	--dtcc-dropdown_box-shadow: 3px 4px 10px 1px rgba(0, 0, 0, 0.8);

	--dtcc-dropdown-button_color: white;
	--dtcc-dropdown-button_hover-background: rgba(153, 153, 153, 0.1);
}

table.dataTable span.dtcc {
	font-weight: normal;
	white-space: nowrap;

	button.dtcc-button {
		background: var(--dtcc-button_background);
		border: var(--dtcc-button_border);
		border-radius: var(--dtcc-button_border-radius);
		margin-top: calc(var(--dtcc-button_padding) * -1);    // want padding around the top/bottom
		margin-bottom: calc(var(--dtcc-button_padding) * -1); // of the buttons, but not extra height
		padding: var(--dtcc-button_padding);
		opacity: var(--dtcc-button_opacity);
		cursor: pointer;

		&:hover {
			border: var(--dtcc-button_hover-border);
			background: var(--dtcc-button_hover-background);
			opacity: var(--dtcc-button_hover-opacity);
		}
	}

	button.dtcc-button_active {
		opacity: 1;
	}

	span.dtcc-button-icon {
		color: var(--dtcc-button-icon_color);
		display: inline-block;
		vertical-align: middle;

		svg {
			height: var(--dtcc-button-icon_size);
			width: var(--dtcc-button-icon_size);
		}
	}

	span.dtcc-button-text {
		display: none;
	}

	div.dtcc-spacer {
		border-left: var(--dtcc-spacer_border);
		cursor: initial;
		display: inline-block;
		margin: 0 var(--dtcc-spacer_margin);
		padding-left: 0.5em;
		vertical-align: middle;
		white-space: nowrap;

		&:empty {
			height: 1em;
			padding-left: 0;
			width: 1px;
		}
	}
}

div.dtcc-dropdown {
	background: var(--dtcc-dropdown_background);
	border: var(--dtcc-dropdown_border);
	border-radius: var(--dtcc-dropdown_border-radius);
	box-shadow: var(--dtcc-dropdown_box-shadow);
	box-sizing: border-box;
	margin: var(--dtcc-dropdown_margin);
	overflow: hidden;
	padding: var(--dtcc-dropdown_padding);
	position: absolute;
	width: var(--dtcc-dropdown_width);
	z-index: var(--dtcc-dropdown_z-index);

	button.dtcc-button {
		align-items: center;
		background: var(--dtcc-dropdown-button_background);
		border: var(--dtcc-dropdown-button_border);
		color: var(--dtcc-dropdown-button_color);
		display: flex;
		cursor: pointer;
		padding: var(--dtcc-dropdown-button_padding);
		position: relative;
		text-align: left;
		width: 100%;

		&:hover {
			background: var(--dtcc-dropdown-button_hover-background);
		}

		span.dtcc-button-icon {
			height: var(--dtcc-button-icon_size);
			width: var(--dtcc-button-icon_size);
			padding: 0 0.5em;
		}

		span.dtcc-button-text {
			flex-grow: 1;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}

	div.dtcc-spacer {
		border-left: none;
		border-bottom: var(--dtcc-spacer_border);
		padding: 0;
		margin: var(--dtcc-spacer_margin) 0;
	}

	div.dtcc-title {
		background: var(--dtcc-title_background);
		border-left: var(--dtcc-title_border-left);
		border-right: var(--dtcc-title_border-right);
		border-top: var(--dtcc-title_border-top);
		border-bottom: var(--dtcc-title_border-bottom);
		margin: var(--dtcc-title_margin);
		padding: var(--dtcc-title_padding);
		text-align: var(--dtcc-title_text-align);
	}
}
